body {
	font-family : helvetica,arial,freesans,clean,sans-serif;
	font-size : 13.34px;
	font-size-adjust : none;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	line-height : normal;
}

a {
	text-decoration : none
}


a:hover {
	text-decoration : underline;
}



.main-content {
}


.footer {
	text-align: center;
	height : 100%;
	line-height: 50px;
	
	position: relative;
}


.header {
    text-align: center;
}


.demoapp-widget-header {
	position: relative;
}


.demoapp-header-background {
	width : 200%;
	height: 221px;
	
	position: absolute;
	
	left : -50%;
	
	background-image : url(../images/background-top.png);
	background-position: center center;
	background-repeat: no-repeat; 
	
	z-index : -1;
}	
	

.demoapp-footer-background {
    width : 200%;
    height: 195px;
    
    position: absolute;
    
    left : -50%;
    bottom : 0px;
    
    background-image : url(../images/background-footer.png);
    background-position: center center;
    background-repeat: no-repeat; 
    
    z-index : -1;
}


.demoapp-widget-news {
	padding : 20px;
	font-size: 1.3em;
	
	margin-top : 50px;
	
	text-align: center;
}


.demoapp-not-found-body {
	background-image: url('../images/icon-lemon-big.png');
	background-repeat: no-repeat;
	background-position: center center;
}


.demoapp-special-offer-body {
    background-image: url('../images/icon-kiwi-big.png');
    background-repeat: no-repeat;
    background-position: center center;
}


.demoapp-widget-sample-body {
	text-align : center;
	font-size: 1.5em;
}

.demoapp-big {
	font-size: 2em;
}

.demoapp-widget-header .demoapp-control-button-imageholder {
    width : 100px;
    height : 100px;
}


.demoapp-icon-apricot {
	background-image: url('../images/icon-apricot.png');
}


.demoapp-icon-bananas {
	background-image: url('../images/icon-bananas.png');
}


.demoapp-icon-bananas-bad {
    background-image: url('../images/icon-bananas-bad.png');
}


.demoapp-icon-berry {
	background-image: url('../images/icon-berry.png');
}


.demoapp-icon-cherry {
	background-image: url('../images/icon-cherry.png');
}


.demoapp-icon-lemon {
	background-image: url('../images/icon-lemon.png');
}


.demoapp-icon-kiwi {
	background-image: url('../images/icon-kiwi.png');
}
