.x-main-choose-language {
	text-align : right;
	padding-right : 0px;
}


.language {
	border-bottom : 1px dashed;
	cursor : pointer;
	
	color : #5b5b5b;
}


.x-main-footer {
	padding-top : 35px;
	padding-left : 25px;
	padding-right : 25px;
	padding-bottom : 25px;
	
	position : relative;
	
	color : #ffffff;
	
	position : relative;
}


.x-main-footer .x-main-footer-back {
	position : absolute;
	left : -290px;
	top : 0px;
	
	width : 1560px;
	height : 135px;
	
	background-image : url(/static/images/background/footer.png);
	
	z-index : -1;
}


.x-main-footer .copyright {
	position : absolute;
	right : 25px;
	bottom : 25px;
}


.x-main-accounting {
	text-align : right;
	line-height : 29px;
}


.x-header-menu {
	font-size : 12px;
	color : #000000;
	font-weight : bold;
}


.x-main-body {
	/*
	min-height: 900px;
	height: auto !important;
	height: 900px;
	
	*/ 
}
